<style>


h1{
	color: #aba4ac;
	margin-bottom:10px;
}

.intro{
	color:#aba4ac;
	margin-bottom:10px;
}
#header {
	color:#aba4ac;
	margin-bottom:10px;
}
h1#header{
	color: #aba4ac;
	margin-bottom:10px;
}
img{
	float: left;
}

</style>